typing
matplotlib==3.7.2
torch
torchvision==0.15.2
pandas==2.0.3
tqdm==4.65.0
pyyaml==6.0.1
scipy==1.10.1
scikit-learn==1.3.0
av==11.0.0
opencv-python
pre-commit==3.4.0
PyQt5
tensorboard==2.10.0
ruff==0.11.2